<!DOCTYPE html>
<html>
  <body>
    <h1>Welcome, <%= NAME %>!</h1>
    <p>Your login credentials are:</p>
    <ul>
      <li><b>Email:</b> <%= EMAIL %></li>
      <li><b>Password:</b> <%= PASSWORD %></li>
    </ul>
    <p>You can log in here: <a href="<%= LINK %>"><%= LINK %></a></p>
    <p>Thank you,</p>
    <p><%= MAIL_FROM_NAME %></p>
    <footer>&copy; <%= YEAR %></footer>
  </body>
</html>
